<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcommerceApp">
        
        <!-- Splash Activity - Launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.EcommerceApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
        
        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.EcommerceApp"
            android:windowSoftInputMode="adjustResize">
        </activity>
        
        <!-- Signup Activity -->
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:theme="@style/Theme.EcommerceApp"
            android:windowSoftInputMode="adjustResize">
        </activity>
        
        <!-- Welcome Activity -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.EcommerceApp">
        </activity>
        
        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.EcommerceApp">
        </activity>
        
        <!-- Edit Profile Activity -->
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.EcommerceApp"
            android:windowSoftInputMode="adjustResize">
        </activity>
        
        <!-- Change Password Activity -->
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.EcommerceApp"
            android:windowSoftInputMode="adjustResize">
        </activity>
        
        <!-- Product Detail Activity -->
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.EcommerceApp">
        </activity>
        
        <!-- Reviews Activity -->
        <activity
            android:name=".ReviewsActivity"
            android:exported="false"
            android:theme="@style/Theme.EcommerceApp">
        </activity>
        
        <!-- Add Review Activity -->
        <activity
            android:name=".AddReviewActivity"
            android:exported="false"
            android:theme="@style/Theme.EcommerceApp">
        </activity>
        
        <!-- Payment Activity -->
        <activity
            android:name=".activities.PaymentActivity"
            android:exported="false"
            android:theme="@style/Theme.EcommerceApp">
        </activity>
    </application>

</manifest>